@model IEnumerable<Pritey.Framework.Entity.UserMaster>
@{
    ViewBag.Title = "Employee Information";
}
<div class="jumbotron">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.um_id)</th>
                <th>@Html.DisplayNameFor(model => model.um_name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Pritey.Framework.Entity.UserMaster item in ViewBag.UserList)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.um_id)</td>
                    <td>@Html.DisplayFor(model => item.um_name)</td>
                </tr>
            }
            <tr>
                <td>@Html.ActionLink("Previous", "Previous", null, new { @class = "btn btn-info" })</td>
                <td>@ViewBag.PageNumber</td>
                <td>@Html.ActionLink("Next", "Next", null, new { @class = "btn btn-info" })</td>
            </tr>
        </tbody>
    </table>
</div>

